.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;

}


.barre {
  float: left;
  border-right: 1.5px solid black; 
}

.lien_barre {
  display: block;
  padding: 8px;
  background-color: #9370DB;
}

.footer {
  display: inline;
  text-align: center;


}

h1{

	text-align: center;
	font-weight: bold;
	text-decoration: underline;
	color: red ;

}

img{


	width: 70px;
	height: 70px


}

body{

background-color: #E6E6FA;
s
}

h2{

		color: blue;

}

form{

	text-align: center
}